<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="love-here.ZPM">
    <Module>
      <Name>love-here</Name>
      <Version>1.0.0</Version>
      <Description>Basic InterSystems IRIS Development Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="lovezel.sample.PKG"/>
      <UnitTest Name="/tests" Package="lovezel.sample.unittests" Phase="test"/>

    </Module>
  </Document>
</Export>